@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@400;600&display=swap');

.img {
  width: 100%;
  height: 5rem;
}

.main-content {
  margin-top: 5%;
}

code {
  font-family: 'M PLUS 1 Code', monospace, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}